<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAP</title>
</head>
<body>
    <section class="PFG" id="PFG">
        <div class="PFG-content">
            <h1 class="heading">Generate Playlist from Genre</h1>
            <form id="genre-form" action="/generate_genre_playlist" method="POST">
                <div class="input-box-PFG">
                    <input type="number" id="num_songs" name="num_songs" max="50" required>
                    <label>Number of tracks in playlist</label>
                </div>

                <div class="input-box-PFG">
                    <input type="text" id="genre" name="genre" required>
                    <label>Genre name</label>
                </div>

                <button type="submit" class="btn-PFG">Generate Playlist</button>
            </form>
            <div id="genre-result"></div>
        </div>
    </section>
</body>
</html>