<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/generator.css">
    <title>MAP</title>
</head>
<body>
    <header class="header">
        <a class="logo">Make a Playlist</a>

        <nav class="navbar">
            <a href="{{ url_for('generator') }}" style="--i:1;">Playlist from Genre</a>
            <a href="{{ url_for('genres') }}" style="--i:2;">Available Genres</a>
            <a href="{{ url_for('logout') }}" style="--i:3;">Logout</a>
        </nav>
    </header>

    <section class="PFG" id="PFG">
        <div class="PFG-content">
            <h1 class="heading">Generate Playlist from Genre</h1>
            <form id="genre-form" action="/generate_genre_playlist" method="POST">
                <div class="input-box-PFG">
                    <input type="number" id="num_songs" name="num_songs" min="5" max="50" required>
                    <label>Number of tracks in playlist</label>
                </div>

                <div class="input-box-PFG">
                    <input type="text" id="genre" name="genre" required>
                    <label>Genre name</label>
                </div>

                <button type="submit" class="btn-PFG">Generate Playlist</button>
            </form>
            <div id="genre-result">
                {% if genre_playlist_embed_code %}
                    {{ genre_playlist_embed_code | safe }}
                {% elif genre_error %}
                    <p>{{ genre_error }}</p>
                {% endif %}
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            if (performance.navigation.type === performance.navigation.TYPE_RELOAD) {
                window.location.href = window.location.pathname;
            }
        });
    </script>
</body>
</html>